:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

.tridion-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
}
.tridion-bar-dark{
    background: #000000;
}

.tridion-bar-green{
  background: #007373;
}

.tridion-bar-purple{
  background: #3E016F;
}

.tridion-bar-light{
  background: #ffffff;
}

.tridion-bar__container {
  display: flex;
  padding: 0.5rem 1.75rem;
  justify-content: space-between;
  align-items: center;
}

.tridion-bar__xpm-minimal {
  display: flex;
  gap: 2rem;
}

.tridion-bar__logo {
  display: flex;
  cursor: pointer;
}

.tridion-bar__logo img {
  width: 100%;
}

.tridion-bar__actions {
  display: flex;
  gap: 0.75rem;
}

.tridion-bar__button {
  padding: 0.2rem 1rem;
 /* background: #e3e6eb;*/
  background:rgba(40, 54, 85, 0.5);
  border: 1px solid #fcfdfd;
  border-radius: 2px;
  transition: background-color .2s ease 0s, color .2s ease 0s, opacity .2s ease 0s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.tridion-bar__button svg {
  font-size: 18px;
/*   color: rgb(117, 128, 153); */
color: #ffffff;
}

.tridion-bar__button:hover {
  background: rgba(40, 54, 85, 0.5);
}

.tridion-bar__button:hover svg {
  color: #fff;
}

.tridion-bar__collab {
  display: flex;
}